{{!--
    Renders the response definitions
--}}
{{#if responses}}
<a name="/responses"></a>
<h4>Responses</h4>

<ul id="sw-response-definitions">
    {{#each responses}}
        <li><a href="#/responses/{{key}}">{{@key}}</a></li>
    {{/each}}
</ul>
{{/if}}
